## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jamestown,US,42.0970,-79.2353,69.12,97,90,5.99,mist
1,1,Iqaluit,CA,63.7506,-68.5145,43.70,65,75,8.57,broken clouds
2,2,Guaruja,BR,-23.9931,-46.2564,77.07,52,75,3.44,moderate rain
3,3,Bredasdorp,ZA,-34.5322,20.0403,51.12,82,55,3.44,broken clouds
4,4,Vaini,TO,-21.2000,-175.2000,75.36,88,75,10.36,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jamestown,US,42.0970,-79.2353,69.12,97,90,5.99,mist
2,2,Guaruja,BR,-23.9931,-46.2564,77.07,52,75,3.44,moderate rain
4,4,Vaini,TO,-21.2000,-175.2000,75.36,88,75,10.36,broken clouds
5,5,Mitsamiouli,KM,-11.3847,43.2844,75.47,79,10,8.97,clear sky
8,8,Shimoda,JP,34.6667,138.9500,66.11,81,10,0.74,clear sky
9,9,Praia Da Vitoria,PT,38.7333,-27.0667,71.76,94,20,6.60,few clouds
10,10,Atuona,PF,-9.8000,-139.0333,77.70,75,13,17.78,few clouds
11,11,Hithadhoo,MV,-0.6000,73.0833,82.98,77,85,18.30,overcast clouds
14,14,Hilo,US,19.7297,-155.0900,81.81,87,90,5.75,light rain
15,15,Arraial Do Cabo,BR,-22.9661,-42.0278,80.56,78,0,16.11,moderate rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                364
City                   364
Country                364
Lat                    364
Lng                    364
Max Temp               364
Humidity               364
Cloudiness             364
Wind Speed             364
Current Description    364
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                364
City                   364
Country                364
Lat                    364
Lng                    364
Max Temp               364
Humidity               364
Cloudiness             364
Wind Speed             364
Current Description    364
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Jamestown,US,69.12,mist,42.0970,-79.2353,
2,Guaruja,BR,77.07,moderate rain,-23.9931,-46.2564,
4,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,
5,Mitsamiouli,KM,75.47,clear sky,-11.3847,43.2844,
8,Shimoda,JP,66.11,clear sky,34.6667,138.9500,
9,Praia Da Vitoria,PT,71.76,few clouds,38.7333,-27.0667,
10,Atuona,PF,77.70,few clouds,-9.8000,-139.0333,
11,Hithadhoo,MV,82.98,overcast clouds,-0.6000,73.0833,
14,Hilo,US,81.81,light rain,19.7297,-155.0900,
15,Arraial Do Cabo,BR,80.56,moderate rain,-22.9661,-42.0278,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]   
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Jamestown,US,69.12,mist,42.0970,-79.2353,Hampton Inn & Suites Jamestown
2,Guaruja,BR,77.07,moderate rain,-23.9931,-46.2564,Charme Hotel Guarujá
4,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
5,Mitsamiouli,KM,75.47,clear sky,-11.3847,43.2844,Foyer ADM
8,Shimoda,JP,66.11,clear sky,34.6667,138.9500,Shimoda Tokyu Hotel

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label = "City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 

markers_location = locations
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))